.newsroom-jumbo {
  height: 100%;
  margin: 40px 0px 60px;
  margin-bottom: 120px;
  border: main.$altitude-gray 2px solid;
  border-radius: 10px;
  transform: translateX(20%);
  overflow: hidden;
}

.jumbo-row {
  max-width: none;
}

.jumbo-left {
  height: 100%;
  margin-right: 25px;
  overflow: hidden;
}
.jumbo-left-inner {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jumbo-right {
    height: 470px;
}

.jumbo-info {
  padding: 25px 10px;

  a {
    color: main.$black;
    font-family: main.$arc-font-regular;
    &:hover {
      color: main.$black;
    }
  }
}

.jumbo-metadata {
  text-transform: uppercase;
  font-family: main.$arc-font-semibold;
  margin-bottom: 25px;
}
.newsroom-jumbo-title {
  font-size: 3.5rem;
  line-height: 60px;
  margin-bottom: 25px;
  width: 550px;
  height: 182px;
  
}

.jumbo-text {
    width: 415px;
    margin-bottom: 25px;
}
