@use "~arccorp-vars/src/scss/main.scss";

.arc-newsroom-page {
  width: 100%;
}

.newsroom-jumbo {
  background: main.$fog;
  padding-bottom: 75px;
  max-height: 800px;
  height: 100%;
  padding-top: 53px;
  margin-bottom: 45px;
}

.jumbo-row {
  max-width: none;
}

.featured-row {
  max-width: 600px;
  padding-right: 15px;
  padding-left: 18px;
}

.jumbo-text,
.newsroom-jumbo-title {
  color: main.$white;
  padding-left: 15px;
}

.jumbo-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 425px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.jumbo-metadata {
  font-family: main.$arc-font-bold;
  color: main.$white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.jumbo-text {
  padding-top: 20px;
  font-family: main.$arc-font-regular;
  max-width: 530px;
  padding-bottom: 0;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 23px;
}

.jumbo-left {
  margin-left: auto;
  max-width: 605px;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: inset 0 0 0 2000px rgba(42, 43, 44, 0.3);
  border-right: 15px solid main.$tarmac;
}

.newsroom-jumbo-title {
  font-family: SourceSansPro-Bold, helvetica, arial, sans-serif;
  max-width: 500px;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 46px;

  a {
    color: inherit;
  }
  a:hover {
    color: inherit;
  }
}
