
.newsroom-connect-outer {
    background-color: main.$concourse;
    width: 100%;
    margin: 20px 0;
    display: flex;
}

.newsroom-connect-inner {
    margin: 50px auto;
    color: main.$white;
    max-width: 1062px;
    width: 100%;

    .connect-title, .connect-desc {
        margin-bottom: 15px;
    }
    .connect-title {
        color: main.$white;
        font-size: 48px;
        font-family: main.$arc-font-bold;
        line-height: 60px;
    }

    .connect-desc {
        text-align: left;
        font-size: 21px;
        font-family: main.$arc-font-regular;
        line-height: 27px;
    }

    .connect-buttons {
        a {
            border-radius: 10px;
        }
    }
}