
.newsroom-connect-outer {
    background-color: main.$concourse;
    width: 100%;
    min-height: 40px;
    margin: 20px 0;
    display: flex;
}

.newsroom-connect-inner {
    margin: 50px auto;
    color: main.$white;
    height: 200px;
    max-width: 1062px;
    width: 100%;

    .connect-title, .connect-desc {
        margin-bottom: 15px;
    }
    .connect-title {
        color: main.$white;
    }

    .connect-buttons {
        a {
            border-radius: 10px;
        }

        .ctaBtn.bg-color-white{
            border: 2px solid main.$concourse;
        }
    }

    .connect-contact {
        justify-content: end;
        width: 190px;
        margin-left: auto;
    }

    .contact-title{
        font-size: 24px;
        font-family: main.$arc-font-semibold;
        margin-bottom: 25px;
    }
}