.post-outer-card {
  border-radius: 10px;
  height: 397px;
  background-color: #f7f5f5;
  margin: 30px auto;
}

.post-inner-top {
    padding-top: 30px;
    margin-bottom: auto;
}
.post-inner-bottom {
    margin-top: auto;
}

.post-cta,
.post-desc,
.post-title {
  margin: inherit 25px;
}

.post-title {
  width: 225px;
  padding-bottom: 10px;
  font-family: main.$arc-font-bold;
  font-size: 22px;
  line-height: 25px;
  color: main.$arc-teal;
  &:hover {
    color: #20b8d1
  }
}

.post-desc {
  height: 90px;
  width: 223px;
  font-size: 14px;
  line-height: 18px;
  font-family: main.$arc-font-regular;
}

a.post-link, a.post-link:hover {
  color: unset;
}

a.post-link:hover {
  .post-title {
    color: #20b8d1
  }
}

.post-cta {
  margin-top: auto;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  font-family: main.$arc-font-regular;

  span {
    position: absolute;
    bottom: 60px;
  }
}
