.arc-newsroom-search {
  position: relative;
  i, svg {
    position: absolute;
    right: 15px;
    top: 16px;
    font-size: 13px;
  }
}

#newsroom-search {
  border: 1px solid #2A2B2D;
  background: #ffffff;
  border-radius: 10px;
  width: 250px;
  height: 45px;
}