@use "~arccorp-vars/src/scss/main";

@import "./partials/newsroom-jumbo";
@import "./partials/newsroom-card";

#app {
  justify-content: center;
  width: 100%;
  color: main.$black;
}

.arc-newsroom-page {
  width: 100%;
}

.arc-sticky-inner {
  background-color: main.$arc-teal;
}

.newsroom-container {
  max-width: 1200px;
  padding:40px 15px;
  margin: auto;
}

.newsroom-header {
  font-family: main.$arc-font-regular;
  margin-bottom: 15px;
}

.newsroom-viewMore {
  margin: 0 auto 40px;
}