@use "~arccorp-vars/src/scss/main";

@import "./partials/newsroom-card";
@import "./partials/newsroom-connect";
@import "./partials/newsroom-jumbo";
@import "./partials/newsroom-media";
@import "./partials/newsroom-search";

#app {
  justify-content: center;
  width: 100%;
  color: main.$black;
}

.page-grid {
 display: none;
}

.arc-newsroom-page {
  width: 100%;
}

.newsroom-container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.newsroom-header {
  font-family: main.$arc-font-regular;
}

.newsroom-viewMore {
  margin: 30px auto 60px;
}

.newsroom-sub-header{
  font-size: 3.5rem;
  font-family: main.$arc-font-semibold;
}

.newsroom-media {
  margin-bottom: 40px;
  margin-top: 10px;
}

.arc-newsroom-search {
  display: flex;
  justify-content: end;
}

@media only screen and (max-width: 600px) {
  .newsroom-jumbo {
    padding-bottom: 60px;
    max-height: 800px;
    height: 100%;
    padding-top: 30px;
  }
  .jumbo-info {
    height: 265px;
  }

  h2 {
    text-align: center;
    padding-bottom: 15px;
  }
  .arc-newsroom-search {
    justify-content: center;
    form {
      // inherit the relative position for the spyglass
      position: inherit;
    }
  }

  .post-outer-card {
    height: auto;
    margin: 15px auto;

    .post-title, .post-desc {
      max-width: 350px;
      width: 100%;
    }
  }

  .post-inner-bottom {
    display: none;
  }

  h2.text-left {
    margin-top: 30px;
  }

  .newsroom-media {
    margin-bottom: 15px;
  }

  .newsroom-viewMore {
    margin: 0px auto 30px;
  }

  .connect-desc, .connect-buttons {
    margin-left: 15px;
  }
}