@use "~arccorp-vars/src/scss/main";
@use "partials/newsroom-search";

#app {
  color: #414042;
  min-height: 80vh;
  width: 100%;
  display: flex;
}

.page-grid {
  display: none;
 }

.media-archive-page {
  width: 100%;
  min-height: 80vh;

}

.media-archive-container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  .row {
    border-bottom: 1px solid main.$black;
  }

  a,
  a:hover {
    color: unset;
  }
}

.archive-header {
  padding-top: 60px;
  h2 {
    padding-bottom: 60px;
  }
}

.arc-newsroom-search {
  display: flex;
  justify-content: end;
}

.media-archive-posts {
  padding-bottom: 40px;
}

.mention-inner {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mention-tags {
  text-transform: uppercase;
  color: #888;
  font-family: main.$arc-font-semibold;
  font-size: 16px;
  line-height: 22px;

  .tags-dot {
    display: inline-block;
    padding-left: 3px;
    padding-right: 2px;
    font-size: x-small;
    transform: translateY(-3px);
  }
}

.mention-title {
  color: main.$tarmac;
  font-family: main.$arc-font-semibold;
  font-size: 28px;
  line-height: 40px;

  a {
    font-family: main.$arc-font-semibold;
  }
}

.mention-date {
  color: main.$black;
  font-size: 16px;
  line-height: 20px;
  font-family: main.$arc-font-regular;
  padding-top: 15px;
}

.media-archive-button {
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .archive-header h2 {
    text-align: center;
    padding-bottom: 15px;
  }
  .arc-newsroom-search {
    justify-content: center;
    padding-bottom: 60px;
  }

  input#newsroom-search {
    width: 100%
  }
}